/* ==================== Star end ======================*/
.navbar {
    background-color: #fff;
    height: 80px;
    margin: 15px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand{
    font-weight: 500;
    color: #009970;
    font-size: 18px;
    transition: 0.3s color;
}
.login-button{
    background-color: #009970;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color ;
}
.login-button:hover{
    background-color: #00b383;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link:active{
    color: #009970;
}
@media(min-width:991px){
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility:visible ;
}
}
.logonavbar {
    margin-right: 0px;
    height: 7vh;
    width: auto;
}
.backgraund-section{
    background: #d1d1ddc5;
    background-size: cover;
    width: 100%;
    height: 85vh;
    
}
header .search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    z-index: 10;
    cursor: pointer;
}
.searchBox{
    position: absolute;
    top: 50%;
    left: 79%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}
.searchBox.active{
    left: 0;
}
.searchBox input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    border-bottom: 1px solid #000;
}
.car{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    margin-right: 20px;
    margin-left: 20px;
    z-index: 10;
    cursor: pointer;
}
/* =================== Nadvar end =====================*/


/* ============== Contact Section Start ================*/
.contact{
    padding: 100px 11% 100px;
}
.contact .col-md-5{
    background: #009970;
    border-radius: 10px;
    color: white;
}
.contact h3{
    margin-top: 20px;
}
.contact p{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.contact .fa-solid {
    margin-left: 40px;
}
.contact i span{
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}
.order-btn{
    padding: 6px;
    margin-top: 30px;
    background: transparent;
    border: 2px solid #009970;
    border-radius: 5px;
    color: #009970;
    transition: 0.5s;
    cursor: pointer;
}
.order-btn:hover{
    background: #009970;
    color: white;
    border: 2px solid white;
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.heading span{
    color: #009970;
}
textarea {
    height: 113px !important;
    transition: none !important;

}
/* =============== Contact Section End =================*/


/* =================== Footer Start ====================*/
.backgraund-section1{
    background: #d1d1ddc5;
    background-size: cover;
    width: 100%;
    height: 69vh;
}
#footer{
    padding: 15px 11% 15px;
}
#footer .f-content{
    text-align: center;
}
.f-logo img{
    width: 250px;
    cursor: pointer;
}
.f-content i{
    font-size: 18px;
    color: black;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.f-content i:hover{
    background: #009970;
    color: white;
    border-radius: 5px;
}
.c-content{
    text-align: center;
}
.c-content span a{
    text-decoration: none;
    color: #009970;
}
/* ===================== Footer End ======================*/

.color-car{
    color: #009970;
}



